<mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>

<div class="conteudo-produtos" *ngIf="!loading">

    <h2>Produtos</h2>

    <div class="card2">
    
        <mat-card *ngFor="let itemProduto of produtos" 
            (click)="selecionarProduto(itemProduto)"
            [ngClass]="getCssClassProduto(itemProduto)" 
            class="home mat-elevation-z3">
            <mat-card-title class="title">
                <h2>
                    #{{itemProduto.id}} - {{itemProduto.nome}}
                </h2>
            </mat-card-title>
    
            <mat-card-subtitle class="subtitle">
                {{itemProduto.valor}}
            </mat-card-subtitle>
        </mat-card>
    
    </div>
</div>